
body {
    background-color: #544177;
    color: white;
    font-family: OCR A Std, monospace;
    padding: 0%;
}


.TopFixedHeader {
    background-color: blueviolet;
    color: white;
    font-family: OCR A Std, monospace;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.myHeader {
    background-color: #f48cf4;
    color: white;
    font-family: OCR A Std, monospace;
    font-size: 60px;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border: 5px outset deeppink;
}

.mySection1 {
    background-color: DeepPink;
    color: white;
    font-family: OCR A Std, monospace;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    border: 5px outset blueviolet;
}

.mySection2 {
    background-color: Fuchsia;
    color: white;
    font-family: OCR A Std, monospace;
    padding: 6px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    border: 5px outset blueviolet;
}

.wrapper {
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}



a:link {
    color: white;
}

a:visited {
    color: #00ff9d;
}

a:hover {
    color: #00aeff;
}